*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 4%;
}
ul li{
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}
.Inside{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.body{
    display: flex;
    justify-content: space-between;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    margin: 8% 10% 12% 6% ;
    font-family: 'Ubuntu', sans-serif;
}
div h1{
    font-size: 50px;
    padding: 5px 0 ;
}
div button{
    width: 110px ;
    height: 35px;
    margin: 18px 0 ;
    border-radius: 12px 0 ;
    border: 0;
    color: ivory;
    background-color: rgb(65, 119, 65);
    cursor: pointer;
}
h1 span{
    color: rgb(65, 119, 65);
}